@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.w-494{
  width:494px;
}

.text-36px{
  font-size: 36px;
}

.mb-16px{
  margin-bottom: 16px;
  font-weight: bold;
}


.font-size-72{
  font-size: 72px;
}